.root{
    -fx-font-family: Dubai;
}
#title{
    -fx-font-family: Forte;
    -fx-font-size: 40;
    -fx-text-fill: indigo;
}
.text-field{
    -fx-background-color: transparent;
    -fx-border-color: gray;
    -fx-border-radius: 10;
    -fx-font-size: 15;
    -fx-text-fill: indigo;
}
.text-field:focused{
    -fx-border-color: indigo;
    -fx-border-width: 3;
}
.button{
    -fx-background-color: indigo;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-font-size: 15;
}
.button:hover{
    -fx-background-color: purple;
}
.box{
    -fx-background-color: white;
    -fx-background-radius: 25;
    -fx-border-radius: 25;
    -fx-border-color: gray;
}
.scroll-pane{
    -fx-background-color: transparent;
}
.tab-pane{
    -fx-tab-min-width: 150;
    -fx-font-size: 20;
}
.tab-pane .tab-label{
    -fx-text-fill: white;
}
.tab-pane .tab{
    -fx-background-color: dimgray;
    -fx-text-fill: white;
    -fx-background-radius: 20 20 0 0;
    -fx-border-color: transparent;
}
.tab-pane .tab:selected{
    -fx-background-color: indigo;
    -fx-text-fill: white;
}
.titled-pane{
    -fx-text-fill: white;
}
.title{
    -fx-background-color: indigo;
    -fx-background-radius: 15 15 0 0;
    -fx-font-size: 20;
}
.titled-pane .title .arrow-button .arrow{
    -fx-background-color: white;
}