.root{
    -fx-font-family: Dubai;
}
#title{
    -fx-font-family: Forte;
    -fx-font-size: 40;
    -fx-text-fill: indigo;
}
#sector{
    -fx-font-size: 40;
}
.text-field{
    -fx-background-color: transparent;
    -fx-border-color: gray;
    -fx-border-radius: 10;
    -fx-font-size: 15;
    -fx-text-fill: indigo;
}
.text-field:focused{
    -fx-border-color: indigo;
    -fx-border-width: 3;
}
.button{
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 15;
}
.button:hover{
    -fx-background-color: #b2b8ff;
    -fx-background-radius: 30;
}
.text-area{
    -fx-font-size: 15;
    -fx-border-color: gray;
    -fx-border-radius: 10;
    -fx-border-width: 3;
}
.scroll-pane{
    -fx-background-color: transparent;
}