.root{
    -fx-font-family: Dubai;
}
#title{
    -fx-font-family: Forte;
    -fx-font-size: 40;
    -fx-text-fill: indigo;
}
.text-field{
    -fx-background-color: transparent;
    -fx-border-color: gray;
    -fx-border-radius: 10;
    -fx-font-size: 15;
    -fx-text-fill: indigo;
}
.text-field:focused{
    -fx-border-color: indigo;
    -fx-border-width: 3;
}
.button{
    -fx-background-color: indigo;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-font-size: 15;
}
.button:hover{
    -fx-background-color: purple;
}
.box{
    -fx-background-color: white;
    -fx-background-radius: 25;
}
.label{
    -fx-font-size: 20;
}
.menu-button{
    -fx-background-color: transparent;
}
.menu-button:hover{
    -fx-background-color: #b2b8ff;
    -fx-background-radius: 30;
}
.menu-button:focused{
    -fx-background-color: #b2b8ff;
    -fx-background-radius: 30;
}
.menu-item:hover{
    -fx-background-color: indigo;
    -fx-text-fill: white;
}
.menu-item:focused{
    -fx-background-color: indigo;
    -fx-text-fill: white;
}
.toggle-button{
    -fx-border-color: indigo;
    -fx-border-radius: 10;
    -fx-font-size: 15;
    -fx-background-color: transparent;
    -fx-background-radius: 10;
}
.toggle-button:hover{
    -fx-background-color: #b2b8ff;
}
.toggle-button:selected{
    -fx-background-color: indigo;
    -fx-text-fill: white;
    -fx-font-size: 15;
}
#connect{
    -fx-background-color: transparent;
    -fx-border-color: indigo;
    -fx-border-radius: 10;
    -fx-font-size: 15;
    -fx-text-fill: black;
    -fx-background-radius: 10;
}
#connect:hover{
    -fx-background-color: #b2b8ff;
}
.titled-pane{
    -fx-text-fill: white;
}
.title{
    -fx-background-color: indigo;
    -fx-background-radius: 15 15 0 0;
    -fx-font-size: 20;
}
.titled-pane .title .arrow-button .arrow{
    -fx-background-color: white;
}
.scroll-pane{
    -fx-background-color: transparent;
}