.root{
    -fx-font-family: Dubai;
}
#title{
    -fx-font-family: Forte;
    -fx-font-size: 40;
    -fx-text-fill: indigo;
}
.text-field{
    -fx-background-color: transparent;
    -fx-border-color: gray;
    -fx-border-radius: 10;
    -fx-font-size: 15;
    -fx-text-fill: indigo;
}
.text-field:focused{
    -fx-border-color: indigo;
    -fx-border-width: 3;
}
.button{
    -fx-background-color: indigo;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-font-size: 15;
}
.button:hover{
    -fx-background-color: purple;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}
.box{
    -fx-background-color: #f0d6ff;
    -fx-background-radius: 25;
}
.label{
    -fx-font-size: 20;
}
.menu-button{
    -fx-border-color: indigo;
    -fx-border-radius: 10;
    -fx-border-width: 3;
}
.menu-button:focused{
    -fx-background-color: transparent;
    -fx-border-color: indigo;
    -fx-border-width: 3;
}
.menu-item:hover{
    -fx-background-color: indigo;
    -fx-text-fill: white;
}
.menu-item:focused{
    -fx-background-color: indigo;
    -fx-text-fill: white;
}